.project-container {
  width: 250px;
  height: 350px;
  margin: 20px;
  position: relative;
}

.project {
  width: 250px;
  height: 350px;
  box-shadow: 0 4px 8px rgba(000, 000, 000, 0.25),
    0 10px 10px rgba(000, 000, 000, 0.22);
  transition: 0.4s;
  background-size: 100% 100%;
}

.project:hover {
  width: 280px;
  height: 392px;
  transform: translate(-15px);
}

.project-title {
  position: absolute;
  bottom: 5%;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  opacity: .95;
  transition: .4s;
}

.project:hover .project-title{
  font-size: 23px;
}

@media (max-width: 1024px) {
  .project-container {
    width: 200px;
    height: 280px;
    margin: 10px;
  }

  .project {
    width: 200px;
    height: 280px;
  }

  .project:hover {
    width: 230px;
    height: 322px;
    transform: translate(-15px);
  }

  .project-title {
    font-size: 17px;
  }

  .project:hover .project-title{
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .project-container {
    width: 180px;
    height: 252Px;
    margin: 10px;
  }

  .project {
    width: 180px;
    height: 252px;
  }

  .project-title {
    font-size: 15px;
  }

  .project:hover {
    width: 200px;
    height: 280px;
    transform: translate(-10px);
  }
  .project:hover .project-title{
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  .project-container {
    width: 150px;
    height: 210px;
    margin: 10px;
  }

  .project {
    width: 150px;
    height: 210px;
  }

  .project-title {
    font-size: 12px;
  }

  .project:hover {
    width: 170px;
    height: 238px;
    transform: translate(-10px);
  }

  .project:hover .project-title{
    font-size: 14px;
  }
}
