.gray-bar {
  height: 0px;
  border-bottom: 2px;
  color: #007cc7;
  width: 100%;
}

.project-row {
  text-align: left;
  overflow-x: hidden;
  position: relative;
}

.project-row:not(:first-of-type) {
  margin-top: -12px;
}

.project-row-title {
  position: relative;
  top: 25px;
  display: inline-block;
  padding: 0 40px;
  font-size: 26px;
}

.slider {
  display: flex;
  padding-bottom: 38px;
  position: relative;
  transition: 0.3s ease-in-out;
  margin-left: 35px;
}

.slider > div:first-of-type {
  margin-left: 40px;
}

.arrow {
  position: absolute;
  top: 40%;
  color: white;
  background-color: black;
  height: 70px;
  width: 50px;
  text-align: center;
  line-height: 60px;
  font-size: 50px;
  opacity: 0.8;
  cursor: pointer;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

@media (max-width: 1024px) {
  .project-row-title {
    top: 24px;
    padding: 0 20px;
    font-size: 26px;
  }

  .slider > div:first-of-type {
    margin-left: 20px;
  }

  .arrow-left {
    left: 5px;
  }

  .arrow-right {
    right: 5px;
  }
}

@media (max-width: 767px) {
  .project-row-title {
    top: 22px;
    padding: 0 20px;
    font-size: 26px;
  }

  .slider > div:first-of-type {
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .project-row-title {
    top: 19px;
    padding: 0 20px;
    font-size: 26px;
  }

  .slider > div:first-of-type {
    margin-left: 20px;
  }

  .arrow {
    height: 45px;
    width: 35px;
    line-height: 40px;
    font-size: 30px;
  }
}
