.contact {
  color: #eefbfb;
  max-width: 1200px;
}

.contact > h2 {
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  max-width: 723px;
  margin: auto;
  margin-bottom: 30px;
}

.column {
  width: 45%;
}

.contact input {
  width: 100%;
  color: #eefbfb;
  background-color: #203647;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px lightgray solid;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

.contact input::placeholder {
  color: gray;
}

.contact textarea {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 10em;
  max-width: 723px;
}

#submit {
  width: 200px;
  border: 2px #eefbfb solid;
  padding: 6px;
  transition: 0.3s;
  border-radius: 25px;
  cursor: pointer;
}

#submit:hover {
  color: #203647;
  background-color: #eefbfb;
}

@media (max-width: 767px) {
  .column {
    width: 90%;
    margin: auto;
    max-width: 425px;
  }
  .row {
    flex-wrap: wrap;
  }
  .contact textarea {
    width: 90%;
    height: 15em;
  }
}
