.navbar {
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  box-shadow: 0 3px 6px black,
    0 2px 4px rgba(238, 251, 251, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar-content {
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
}

.navbar h1 {
  transition: 0.3s;
}

.navbar h1:hover {
text-shadow: 0 0 5px white
}

.nav-link {
  margin-left: 40px;
  transition: .3s;
}

.nav-link:hover {
text-shadow: 0 0 8px white
}

.short-name,
.tiny-only {
  display: none;
}

@media (max-width: 1024px) {
  .navbar {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .navbar {
    font-size: 18px;
  }
  .nav-link {
    margin-left: 20px;
  }
  .full-name {
    display: none;
  }
  .short-name {
    display: block;
  }
}

@media (max-width: 400px) {
  .navbar {
    font-size: 16px;
  }
  .navbar-content {
    padding-right: 5px;
    padding-left: 10px;
    font-size: 16px;
  }
  .nav-link {
    margin: 0px;
    padding: 8px;
  }
  .tiny-only {
    display: inline;
  }
}
